
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
legend{
    border: solid 2px black;
    border-radius: 15%;
    background-color: orange;
    color: white;
}
fieldset{
    width: 20%;
    background-color: burlywood;
    border: solid 2px black;
    border-radius: 20%;
}
#boton:hover{
    background-color: yellow;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

fieldset {
    width: 300px;
    padding: 20px;
    background-color: burlywood;
    border-radius: 15px;
    border: solid 2px black;
}

legend {
    border: solid 1px black;
    border-radius: 8px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
}

input[type="text"],
input[type="email"] {
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

#boton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
}

#boton:hover {
    background-color: yellow;
    color: black;
}
*/