body{
    text-align: center;
}
header{
    border: solid 3px black;
    background-color: chocolate;
    margin: 10px;
    display: flex;
    justify-content:space-around;
}
nav{
    border: solid 3px black;
    background-color: burlywood;
    margin: 5px;
}
main{
    border: solid 3px black;
    background-color: chocolate;
    margin: 10px;
}
.seccion{
    display: flex;
    flex-direction: column;
}
article{
    border: solid 3px black;
    background-color: burlywood;
    margin: 5px;
}
section{
    border: solid 3px black;
    background-color: burlywood;
    margin: 5px;
}
aside{
    border: solid 3px black;
    background-color: burlywood;
    margin: 5px;

}
footer{
    border: solid 3px black;
    background-color: chocolate;
    margin: 10px;

}